@model IEnumerable<OctsProjectMvcTest.Models.Enrollment>

@if(Model!=null)
{           
    <table>
        <tr>
            <th>
                Course Code
            </th>
            <th>
                Course Name
            </th>
            <th>
                Grade
            </th>
        
        </tr>

        @foreach (var item in Model) {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Grade.GradeLetter)
                </td>

            </tr>
        }

    </table>
}

<div><h1>@ViewBag.NotEnrolled</h1></div>